@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*width: 100vh;*/
}

body {
	width: 100%;
    height: 100%;
    background: url("../img/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}
/* .backgroundImage {
	position: relative;
	width: 100%;
    height: 100%;
}

.backgroundImage::before {
	content: '';
	background-image: url("https://png.pngtree.com/png-clipart/20190705/original/pngtree-clip-art-animal-illustration-dog-vector-illustration-illustration-of-png-image_4347788.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	opacity: 0.25;
	background-size: cover;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px; 
}
  */
.tituloCeleste {
	color :#bfd93f ;
	font-weight: bolder;
	font-size: 4rem;
}

.parrafoGris {
	color :#bababa ;
	
}

tr {
	color: red ;
}

.parrafoFuente {
	color: #fff;
	font-family: 'roboto' , 'goldman';
	text-decoration: underline;
}

.parrafoFuente2 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.division1 {
	width: 100vh;
}
.division1 ul {
	width: 100vh;
	background-color: rgb(209, 188, 70);
	border: solid 5px black;
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0;

}

.division1 li {
	color: cyan;
	background-color: rgb(209, 188, 70);
	border: solid 2px black;
	display: inline-block; 
	width: 25%;
	position: relative;
	font-size: 14px;
	text-align: center;
}

.division1 ul ul {
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
}

.division1 ul ul li {
	color: cyan;
	display: block;
	
	
}

.division1 ul li:hover ul {
	display: block;
	z-index: 1;
	
}
   
   
   
.imagenPerro {
	   background-image: url("https://png.pngtree.com/png-clipart/20191120/original/pngtree-christmas-dog-santa-claus-animal-vector-png-image_5071530.jpg");
   }

.division1 {
	align-content: center;
	display: inline-block;
}
h1 {
	font-size: 100px;
}

.productosD {
background-image: linear-gradient(to bottom ,red , tomato);
border: solid 5px black;
opacity: 0.8;
}

.noticias {
background-color: tomato;
border: solid 1.5px black;
opacity: 0.8;
overflow: hidden;
}

.masInfo {
	border: dotted 5px black;
	text-align: center;
	background-image: linear-gradient(to top ,red , tomato);
	opacity: .8;
	position: relative;
}

.h3Style {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(39, 64, 175)
}

.fotoPerros {
	width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: .3;
}

.fotoGatos {
	width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: .3;
}

.parrafoEnvios {
	width: 700px;
	margin: auto;
}

.parrafoDescuentos {
	width: 700px;
	margin: auto;
}

.headerContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-bottom: 10px;
	background-color: #b87b2cec;
}

.navContainer {
	height: 30vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	background-color: #37b1cc;
	align-items: center;
}



.division1 {
	flex-grow: 0;
	
}

.galeriaGrid {
	padding: 200px 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr) ;
	grid-gap: 10em;
	border: solid 2px black;
	background-color: tomato;
	place-items: center;
	
	/*
	grid-template-areas: 
	"galeriaVid galeriaVid galeriaPic galeriaPic"
	"galeriaVid galeriaVid galeriaPic galeriaPic"
	"galeriaVid galeriaVid galeriaPic galeriaPic"
	"galeriaVid galeriaVid galeriaPic galeriaPic" ; */

}

.galeriaPic {
	border: solid 2px black;
	padding: 1em;
	background-color: rgb(28, 245, 209);
	border-radius: 50%;
}

.galeriaVid {
	width: 100%;
}

.containerFlex {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
}
.containerFlex:hover {
	transform: scale(2,2);
}

h3 {
	font-family: stalinist one;
	font-size: x-large;
}

.carousel {
	border: solid 10px black;
}

.carousel-item {
	height: 800px;
  }
  
  .carousel-item img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 800px;
  }

.h1Galeria {
	background-image: linear-gradient(to right, red , purple);
	text-align: center ;
	animation-name: text_appear;
	animation-duration: 2s;
	border: solid 3px black;
}

@keyframes text_appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	
}

button {
	width: 100px;
	height: 50px;
	
}

.button1:hover {
background-color: lawngreen;
color: red;
}
.button2:hover {
background-color: magenta;
color: red;
}
.button3:hover {
background-color: orangered;
color: red;
}
.button4:hover {
background-color: yellow;
color: red;
}

.banner {
	width: 100%;
	background: url(https://media3.giphy.com/media/gNke2UrUTopOg/giphy.gif?cid=ecf05e478w36xnb73aaj8v4g12gg9np4zz57p073srxk7pa9&rid=giphy.gif);
	background-size: cover;
	font-size: 8em;
	color: #fff;
	text-align: center;
	padding: 40px 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
  }

  .tienda {
	color: #dbd2d2;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .big-text {
	font-size: 1em;
	font-weight: bolder;
	animation-delay: 1s;
  }
  
  .myAnimation {
     animation-duration: 1s;
  }

  .customBorder {
	  border: solid 2px black;
  }

  .carousel-inner > .carousel-item > img {
	width:640px;
	height:640px;
	
  }

.customAnchor {
	top: 40%;
}

.bold {
	font-weight: bold;
}

.btn-group , .btn-block {
	padding: 0;
	margin: 0;
	background-color: #37b1cc;
}

#containerFluid {
	background-color: #37b1cc;
}

.navContainer i {
	color: #bfd93f;
}

.zonaContent1, .zonaContent2 {
	height: 80%;
	color: rgb(204, 141, 24);
}

.zonaContent1 i, .zonaContent2 i {
	height: 50%;
	color: rgb(165, 115, 22);
}

.zonaContent1 p, .zonaContent2 p {
	height: 50%;
	color: rgb(94, 65, 13);
}

@media (max-width: 1600px) {
	.galeriaGrid {
		grid-template-columns: repeat(3,1fr);
	}
}

@media (max-width: 1100px) {
	.galeriaGrid {
		grid-template-columns: repeat(2,1fr);
	}
	.carousel-item {
		height: 500px;
	  }
	  
	  .carousel-item img {
		  position: absolute;
		  top: 0;
		  left: 0;
		  min-height: 500px;
	  }
}

@media (max-width: 670px) {
	.galeriaGrid {
		grid-template-columns: repeat(1,1fr);
	}
	.parrafoGris, .lead, .parrafoFuente2 {
		text-align: left;
		color: #fff;
	}
	.banner {
		text-align: left;
		font-size: 1.7em;
	}
	.banner .big-text {
		text-align: left;
		font-size: 1.7em;
	}
	.banner .tienda {
		text-align: left;
		font-size: 1.7em;
	}
	.carousel-item {
		height: 300px;
	  }
	  
	  .carousel-item img {
		  position: absolute;
		  top: 0;
		  left: 0;
		  min-height: 300px;
	  }
}

.card {
	opacity: 0.7;
}

.petContainer {
	width: 90%;
	margin: auto;
}

@media (min-width: 1587px) {
	.fotoGatos {
		width: 1600px;
	}
}

@media (max-width: 1586px) {
	.fotoGatos {
		width: 1200px;
	}
}

@media (max-width: 1316px) {
	.fotoGatos {
		width: 800px;
	}
}

@media (max-width: 872px) {
	.fotoGatos {
		width: 400px;
	}
}

@media (min-width: 1587px) {
	.fotoPerros {
		width: 1600px;
	}
}

@media (max-width: 1586px) {
	.fotoPerros {
		width: 1200px;
	}
}

@media (max-width: 1186px) {
	.fotoPerros {
		width: 800px;
	}
}

@media (max-width: 786px) {
	.fotoPerros {
		width: 400px;
	}
}

.parrafoDescuentos {
	
	color: #bfd93f;
}

.fa-credit-card {
	color: #fff;
}

.divDescuento {
	overflow: hidden;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: center;
	margin: 3rem;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #e62739;
    bottom: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}
.copyright p{
	font-size: 1.4rem;
	color: #fff;
}

